# Kafka Configuration
KAFKA_BROKER=kafka:9092
KAFKA_SCORED_TOPIC=scored-transactions
KAFKA_NOTIFICATION_TOPIC=transaction-notifications
KAFKA_GROUP_ID=notification_broker_group

# Python Configuration
PYTHONUNBUFFERED=1
